[submodule "masters/dl-tf/assignments"]
	path = masters/dl-tf/assignments
	url = https://github.com/denisMihaylov/deep-learning-su-assignments.git
[submodule "masters/textrank"]
	path = masters/information-retrieval/textrank
	url = https://github.com/stoyaneft/textrank
[submodule "masters/neural-networks"]
	path = masters/neural-networks
	url = https://github.com/denisMihaylov/neural-networks-su.git
[submodule "masters/recommender-systems/recsys_wiki_to_boost_svd"]
	path = masters/recommender-systems/recsys_wiki_to_boost_svd
	url = https://github.com/kal0ian/recsys_wiki_to_boost_svd.git
